.ContentFooter {
  background-color: rgb(253, 239, 194);
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.textFooter1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 3;
  color: #034d82;
}
.textFooter2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 3;
  color: #034d82;
  width: 400px;
}
.boxImgFooter {
  background-color: #ffff;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  float: left;
  margin-left: 20px;
}
.ImgApp_store {
  margin: 10px;
  margin-left: 16px;
  width: 90px;
}
.ImgGoogle_play {
  margin: 10px;
  margin-left: 16px;
  width: 100px;
}
.boxIconsFooter {
  background-color: #ffc100;
  border-radius: 30px;
  border: 1px solid #ffff;
  text-align: center;
  float: left;
  margin-left: 16px;
  width: 40px;
  height: 40px;
}
.IconsFooter {
  width: 15px;
  height: 15px;
  color: #fff;
}

.ContentFooter2 {
  background-color: #034d82;
  width: 100%;
  text-align: center;
  padding: 10px;
  height: 40px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
.textFooter3 {
  color: #fcc33e;
  width: 100%;
  margin-left: -10%;
}
.textFooter4 {
  color: #fcc33e;
  width: 100%;
}
